*{
    text-align: center;
}
.nclass{
    border: 2px solid black;
    height: 100px;
}
.lorem{
    text-align: center;
    color: red;
    border: 2px solid black;
    height: 100px;
    background-color: aqua;
}